[2017-07-19 15:51] irgangla opened #2 "library to read iCal events"
Create lib for reading iCal sources.

[2017-07-19 15:51] irgangla opened #3 "library for get messages/files from Slack channel"

[2017-07-19 15:52] irgangla opened #4 "HomeInfoDisplay UI"

[2017-07-19 15:52] irgangla opened #5 "threads for ical library"

[2017-07-19 15:52] irgangla opened #6 "threads for Slack library"

[2017-07-19 16:13] irgangla opened #7 "small library to get weather data from ?"

[2017-07-19 18:49] #7 closed

[2017-07-19 18:49] #6 closed

[2017-07-19 18:50] #4 closed

[2017-07-19 18:50] #3 closed

[2017-07-19 18:51] irgangla commented on #2
v0.0.1 is published.

[2017-07-19 18:51] #2 closed

[2017-07-19 20:41] irgangla opened #8 "readthedocs documentation"

[2018-02-22 17:55] debackel opened #10 "Support for recurring events with BYDAY attribute"
If you have a recurring event with BYDAY attribute, and if you retrieve all events within a period, you will only get all occurences of the recurring event having a weekday equal to the weekday of the first occurence.

Supporting this would require enhancements in the create_recurring_events method of the icalparser.py module.

for example:
Event description: b'Peak'
Event datestart : 2018-02-01 0

[2018-02-25 16:06] arturom commented on #10
Thanks @irgangla for merging my PR.
@debackel, the fix is now available from pypi as version [0.1.3](https://pypi.python.org/pypi/icalevents/0.1.3)

[2018-02-25 17:15] debackel opened #12 "Timezone handling issue"
I think there is an issue when handling timezones.
I have imported a calendar generated from gmail, with a timezone of Europe/Brussels (calendar and events).
An event was created to start at 8 AM (local time) on 30 MAR 2018.
When I display the event DTSTART, it show the time with a +01:00 time zone.
But at that time of the year, the timezone in Belgium should be +02:00.

Using the method "events"

[2018-02-25 17:33] debackel opened #13 ""events" method does not return events "description" for recurring events"
The events method of the icalevents class does not return the "description" parameter of events for occurences of a recurring event.

See attached files:
1/ The calendar
2/ The code used for testing
3/ The output of the code

[MyCal1.txt](https://github.com/irgangla/icalevents/files/1756522/MyCal1.txt)
[essai2.txt](https://github.com/irgangla/icalevents/files/1756523/essai2.txt)
[output2.txt](http

[2018-02-25 17:37] debackel commented on #10
@arturom Many thanks for the enhancement. I made a few tests on version 0.1.3, looks fine. Thanks again!

[2018-02-25 17:37] #10 closed

[2018-04-21 13:46] maloakes opened #16 "Recurring event “monthly on 4th Wednesday” is interpreted as “monthly”"
My iCloud calendar has an event that repeats monthly on the 4th Wednesday of each month.
The first event was on 24th January 2018. Icalevents is showing subsequent events on the 24th of each month, not the 4th Wednesday (I.e. 28th February, 28th March, 25th April, etc).

[2018-04-25 04:44] meera opened #17 "Event Location."
Location isn't getting read and store in the event array after parsing.

[2018-04-26 00:29] meera opened #18 "Reading Event with Duration causes exception"
I printed the component  def create_event(component):

The Event in ical file is

BEGIN:VEVENT
UID:10613
DTSTAMP:20180223T130634Z
SUMMARY:A great event  Day
CLASS:PUBLIC
STATUS:CONFIRMED
PRIORITY:0
SEQUENCE:0
DTSTART:20180126
DURATION:P1D
LAST-MODIFIED:20180102T224058Z
TRANSP:OPAQUE
END:VEVENT

Component is
    VEVENT({'DTSTART': <icalendar.prop.vDDDTypes object at 0x10b9e3240>, 'SUMMARY': vText('

[2018-05-07 22:40] lanewinfield commented on #12
I'm also definitely showing a timezone issue. Looks like I need to manually adjust my queries to match my calendar's timezone.

[2018-05-28 15:17] languitar opened #19 "Support for floating dates"
The ical RFC states that dates without timezone indications are to be interpreted as "floating", which means in the local timezone (of the affected user). icalevents currently interprets them as being UTC instead.

From the RFC:

[2018-06-07 23:55] jc1518 opened #20 "showing deleted events"
I wrote a script to get today's event from the team calendar on Confluence. The script downloads the ics file, then uses the icalevents to parse. I noticed that it shows the event that has been already deleted. The event is one instance of a recurring event.

Here is the script: https://github.com/jc1518/myscripts/blob/master/python-scripts/confluence/team_ics.py

[2018-06-07 23:56] jc1518 commented on #12
+1. I have the timezone handling issue too.

[2018-06-14 05:12] RealFriesi opened #21 "Parsing of the calendar failed"
[code]

![bitmoji](https://render.bitstrips.com/v2/cpanel/dd22deef-9d74-45af-b8bb-1b225e029a51-24a93aac-2341-4324-9129-32e68b698d30-v1.png?transparent=1&palette=1&width=246)

[2018-09-08 09:59] dlichtistw opened #22 "All day events not recognized"
I am parsing an iCalendar from Google calendar, but icalevents fails to recognize all day events. They are imported, but with `all_day == False`.

I think, I tracked down the problem to one line in the `create_event` method.
https://github.com/irgangla/icalevents/blob/652f522e578183908f6a7936f0ac5b291e93c6db/icalevents/icalparser.py#L161
But the type of all day events' start attribute is `date`, n

[2018-09-08 11:09] dlichtistw commented on #22
I'm still not fluent in Git. Hopefully, this is the right procedure.
With this little fix, I get successful distinction between all day and part day events (in my test case).

[2018-09-12 05:03] dlichtistw commented on #13
Glad you mentioned that. The description is lost when creating recurring copies of the master event. An additional line in the `copy_to` method did fix it for me.

[2018-09-14 06:48] jc1518 commented on #20
Just did a big digging, I think the issue is that the module does not handle EXDATE.

[2018-09-14 12:36] jc1518 commented on #20
I have added a quick fix in my local icalparser.py file (function parse_events), and it works for me so far. My code is not elegant though ;)
`
    for component in calendar.walk():
        i = 0
        if component.name == "VEVENT":
            if component.get('rrule'):
                if component.get('exdate'):
                    #print("----------------------------------------------")

[2018-09-15 05:09] #22 closed

[2018-09-15 15:27] PabloCastellano commented on #13
Doesn't 8572fafa15eb3fff4a1ae1971205d98f0a910bc4 fix it?

[2018-09-15 15:29] PabloCastellano commented on #21
@Friesinator did you try using Python 3?

[2018-09-15 15:41] PabloCastellano opened #24 "Recurring event monthly third saturday"
Using icalevents==0.1.7, I think I've found a bug in a recurring event:

[code]

The important part:

[code]

From the RRULE I understand that the event is configured to be recurrent every month, on the third Saturday. For September 2018, it should happen today (Saturday 15th). However it shows as happening on *Friday 21st*.

You can see this calendar at http://made-bcn.org/ (google calendar ifram

[2018-09-15 15:49] PabloCastellano commented on #24
Actually this is a duplicate of https://github.com/irgangla/icalevents/issues/16

[2018-09-16 15:55] Friesinator commented on #21
yep python 3.6

[2018-09-17 09:44] #16 closed

[2018-09-17 14:12] PabloCastellano commented on #24
Fixed in v0.1.9

[2018-09-17 14:12] #24 closed

[2018-09-17 14:13] PabloCastellano commented on #20
Should be fixed in v0.1.8

@jc1518 can you check?

[2018-09-18 05:32] dlichtistw opened #28 "Using dateutil.rrule"
Is there a reason _not_ to use [`dateutil.rrule`](https://dateutil.readthedocs.io/en/stable/rrule.html) for handling recurring events? It claims to implement a superset of iCal rrules, handles exdates, exrules ~~and DST transitions~~ (apparently, it doesn't). If there is no reason against it, I would propose to rewrite the whole recurring events logic.

[2018-09-28 00:03] jc1518 commented on #20
@PabloCastellano No, it does not fix it.

[2018-09-29 19:05] dlichtistw commented on #28
What the new code does:
 - Extract the calendar's first TZID. If any is present, it is used (instead of UTC) for datetime normalization.
 - Use `dateutil.rrule` for recursion rule parsing and expansion, handling DST transitions according to the calendars TZID (or UTC).
 - Observe EXDATEs via `rruleset` objects.

What is yet to be implemented:
 1. Observe RDATEs and EXRULEs.
 2. Use an event's spec

[2018-09-29 19:17] dlichtistw commented on #20
Hm, that's odd, it worked for my EXDATEs... There is now even a unittest for EXDATE handling, which turns out positive. Could you recheck with v0.1.11, and maybe post some example ics code where EXDATE parsing fails?

[2018-10-08 13:01] ghost opened #31 "Can't find the docs??"
As above, really - there's a two-line "usage" in README, but I can't find any documentation of how you actually use it..

[2018-11-13 19:48] cun3yt commented on #22
Is this issue resolved? When I try with this all day recurring event from Google Calendar, it gives `False` for `event.all_day` on v0.1.13.

[code]

[code]

[2018-11-14 12:20] cun3yt commented on #22
Apparently recurring all day events are marked wrong, I will open an issue for it.

[2018-11-14 12:23] cun3yt opened #33 "Wrong `all_day` computation for recurring events"
Recurrent all-day events are set to be not all-day events. Here is one problematic case (part of the ics file exported from Google Calendar):

[code]

[code]

[2018-11-14 18:17] cun3yt commented on #33
This is addressed in https://github.com/irgangla/icalevents/pull/34

Thanks @irgangla for merging it.

[2018-11-14 18:17] #33 closed

[2018-11-16 18:58] wrecker opened #36 "Add a 'recurring' attribute to Event object"
My use-case is I need to distinguish between recurring and non-recurring events. Without this attribute there is no way to tell if an event is a single event or part of a recurring series of events.

[2018-11-16 18:59] wrecker commented on #36
Please review PR #35 for the changes to support this use-case.

[2019-01-21 15:41] Hultner commented on #12
I too had issues with timezones, It seems to always fallback to UTC and completely ignore TZID from DTSTART and DTEND, if I look into my calendar-files or open them i Calendar.app/Outlook/gCal the timezone is correct.

[2019-01-21 15:59] Hultner commented on #12
@irgangla I fixed my timezone issues by patching the normalize function. Above problem is caused by the library overwriting the tzid from DTSTART/DTEND (which parses fine) with UTC if it doesn't find another VTIMEZONE, I just commented out the overwriting for datetimes which already have an tzid which worked fine.

Offending line:
https://github.com/irgangla/icalevents/blob/182aba819c465e32dcf66ee

[2019-03-06 15:02] devrosx commented on #31
yes some simple test would be good, I want to fetch upcoming x days as list of events, but can't find any doc how to use this library...

[2019-03-09 00:52] carloshanson opened #45 "Duplicate events returned on a day when one instance of a recurring event changes time"
A recurring event was created in the past.
One instance had a time change.
On the date of the event, two events are returned.

The combination of the UID and the SEQUENCE needs to be observed. In this case, both events have the same UID in the calendar, so the one with the higher SEQUENCE should be returned.

Right now, recurring events are copied with each new date and the UID is changed for each

[2019-03-09 01:03] carloshanson commented on #45
Using Google Calendar, recurrence is limited by day, so leaving the UID the same for each recurring event would allow checking UID and SEQUENCE for each day before returning found events.

[2019-03-09 08:44] m-arx opened #46 "recurring events without end date throw exception"
Hello,

when the (iCloud) calendar contains an item without end date (i have it for birthdays), icalparser.py throws "ValueError: RRULE UNTIL values must be specified in UTC when DTSTART is timezone-aware"

i guess this is because RRULE UNTIL in this case is empty.

[2019-03-09 09:08] m-arx commented on #46
so i have removed all birthday recurrences for troubleshooting and then added some test events, to find the problem.

recurring event ending on date/time works fine.
recurring event ending after n occurrences works fine.
recurring event with open end also works fine now.

must've been an error in one of the events...

[2019-03-09 09:08] #46 closed

[2019-03-12 16:30] fvox13 commented on #45
@carloshanson I'm having the same issue.  Do you have any workaround, or thoughts as to code or pseudocode for a patch?  I'm keen to fix this and I don't want to start from scratch if you had something already.

[2019-03-12 18:51] carloshanson commented on #45
@fvox13 My initial though is the `found` events should be a dictionary instead of a list. The key could be a tuple of the UID and the date. The value could be a tuple of the SEQUENCE and the event. I haven't had a chance to play with it further yet, but I hope to work on it this week. When adding a found event, only add it if the SEQUENCE is greater than the one already found.

We have to prevent

[2019-03-13 21:10] ndw commented on #12
That fix helps, but there's another bug. If a repeating event crosses over from when DST was not in effect to when it is in effect, the adjustment gets lost. A meeting started at 08:00:00-08:00 (8:00am America/Los_Angeles in January) is still reported as 08:00:00-08:00 in March when it should be 08:00:00-07:00.

[2019-03-13 23:49] ndw commented on #12
I believe I've fixed the repeating-events-crossing-daylight-saving-time boundary issue. I don't know what else I might have broken. "Works for me :smile:"

https://github.com/ndw/icalevents

[2019-03-15 02:17] ndw opened #47 "Yearly repeating events raise an error"
Consider this fragment:
[code]

When `icalevents` loads this event, it will normalize the `date` into a `datetime`. But when `dateutil.rrule` is called subsequently, it will object:

[code]

Unfortunately, there are several places where start and end times are compared and the possibility of a mixture of `date` and `datetime` objects isn't handled.

[2019-03-29 08:44] Currywurst commented on #47
I got this too and fixed it by adding few lines after event.all_day and before   try: event.location in the file icalparser.py:

    event.all_day = type(component.get('dtstart').dt) is date

`

    if component.get('rrule'):

        event.recurring = True
        if( component.get('rrule').get('until') ):
            iIndexListUntil = 0
            for x in component.get('rrule').get('until'):

[2019-04-14 23:28] niccokunzmann opened #50 "Related Project?"
Hi, I created a library to get all events within a certain time frame.
I do not know if yours is related.
https://github.com/niccokunzmann/python-recurring-ical-events

[2019-04-18 09:13] tdaff opened #51 "PermissionError when running in directory with no write permissions"
When importing the module from a directory with no write permissions, the call to create the default Http cache fails. There is no way to avoid this if, for example, the filesystem is read-only, or running some web service on a managed host where the web user should not have write permissions.

[code]

[2019-04-24 05:54] #51 closed

[2019-04-24 06:07] irgangla commented on #50
Hi, it seems to be a quite similar use case. I tried to get all events for a given time span to display it on an info display.

[2019-04-24 06:07] #50 closed

[2019-04-24 06:08] irgangla commented on #5
No more time/use case for this lib.

[2019-04-24 06:08] #5 closed

[2019-04-24 06:08] irgangla commented on #8
No more time/use case for this lib.

[2019-04-24 06:08] #8 closed

[2019-04-24 11:16] niccokunzmann commented on #50
Thanks for the confirmation. I linked to it so people have a better choice.
https://github.com/niccokunzmann/python-recurring-ical-events#related-projects

[2019-05-10 00:58] jc1518 commented on #45
@carloshanson I am seeing the same issue in Confluence team calendar. Have you made any progress on this one?

[2019-05-10 01:05] carloshanson commented on #45
My pull request should resolve the issue, but it breaks the tests. I had hoped that it would be looked and and the tests changed. I consider changing the tests myself. I'll look at it again.

[2019-05-10 02:26] jc1518 commented on #45
@carloshanson Thanks! I have downloaded the parser source code from your branch, and tested against the confluence team calendar. It looks good to me!

[2019-05-10 13:33] jc1518 commented on #20
@PabloCastellano , @dlichtistw, I think it is caused by that the tz is missed in the extract_exdates function.

It should be:

`def extract_exdates(component, tz=UTC):
    """
    Compile a list of all exception dates stored with a component.

    :param component: icalendar iCal component
    :return: list of exception dates
    """
    dates = []

    exd_prop = component.get('exdate')
    if ex

[2019-05-11 00:17] jc1518 commented on #45
@carloshanson  Just found out that the fix you put in could not handle some cases which need "UID", "Sequence" and "Reference-id" to identify the event instance.

Reference: https://icalendar.org/iCalendar-RFC-5545/3-8-4-4-recurrence-id.html

[2019-05-11 00:31] jc1518 commented on #45
Here is a example. The code returns event id: 68170 and 69069, which are supposed to 83168 and 83169.

[code]

[2019-05-13 04:20] jc1518 commented on #45
I made some changes, and it works for me now. May need more testings.

[code]

[code]

[code]

[code]

[2019-05-17 22:54] carloshanson commented on #45
Cool. I'm still trying to find time to work on this again, so I can get my changes accepted.

[2019-05-28 05:15] jc1518 commented on #45
One more thing, the event with RECURRENCE-ID should not be treated a recurring event. As it is just a instance of a recurring event. So it should be:
[code]

[2019-06-12 13:48] AlexTalker opened #54 "Invalid timezone parsing"
I'm trying to parse iCalendar file, generated by Microsoft Outlook 2016.
While parsing itself works fine, I did stuck with the timezone.

The calendar header(excluding events) looks like this:
[code]

As `dateutil.tz.gettz()` returns `None` to `Russian Standard Time` in parser: https://github.com/irgangla/icalevents/blob/master/icalevents/icalparser.py#L224
it all falls back to the UTC. However, w

[2019-07-22 03:10] kujiy commented on #47
Weekly would occur the same also
[code]
I haven't looked deeply yet but just let me take a memo.

[2019-07-24 12:08] sfaucheux opened #56 "Windows timezones raise dateutil rrule exception"
I have a problem using Outlook calendar with "Romance Standard Time". `gettz` returns `None` since the python program is not run on Windows. It is also falling back to UTC with normal events.

However, with rrules it becomes worse. The `normalize` function will set the timezone of `dtstart` to `None` and `rrulestr` will throw an exception: `ValueError: RRULE UNTIL values must be specified in UTC w

[2019-09-08 02:49] steevegl-axes opened #59 "Random SSL: WRONG_VERSION_NUMBER from google calendar url"
I use icalevents 0.1.22 and google calendar url. I think I'm pulling to often but I tough the http cache was there for that...

[code]

[2019-09-18 09:21] wsw70 opened #60 "How to iterate over recurring events with a time constraint?"
I could not find any documentation so sorry if this is explained somewhere.

I accessed a Google Calendar URL to retrieve a calendar. It has two recurring events. What I get as a reply is a list of these two events.

- how can I access the actual, atomic events (say that the event is repeated every Monday, how do I get a list of these Monday events?)
- how can I time-constrain the query (for the e

[2019-12-12 12:48] ricardojorgerm opened #62 "Requirements.txt should list setuptools"
I tried to install this package using PIP but failed because I lacked setuptools. It was an easy fix, but it should be listed as a dependency in requirements.txt. Thanks in advance.

[2020-01-14 16:19] thebasti314 opened #64 "Access categories from ical feed"
Hey there,

is there any possibility to access the categories from the ical feed?

Regards,
Bastian

[2020-03-03 19:30] greuff commented on #12
I had the same problem and the fix from @ndw works perfectly. Would be great to have this merged.

[2020-03-03 21:04] irgangla commented on #12
There are merge conflicts and I have no time to fix it. If you provide a working pull request I will merge it.

[2020-03-04 10:48] ndw commented on #12
Hmm. Was that true when I created it? Doesn't matter, I suppose. I'll see if I can get a clean PR, but it may take a few days.

[2020-03-06 20:54] johndavis23 opened #65 "Write Permissions on .cache in httplib2"
I'm seeing this failure:

eventList = events(url=tier1A, file=None, start=today, end=one_year_from_now)
File "/var/task/icalevents/icalevents.py", line 38, in events
ical_download = ICalDownload(http=http)
File "/var/task/icalevents/icaldownload.py", line 37, in __init__
http = Http('.cache')
File "/var/task/httplib2/__init__.py", line 1461, in __init__
self.cache = FileCache(cache)
File "/var/tas

[2020-03-09 13:19] ndw commented on #12
The good news is I was able to get a clean PR. The bad news is it fails a bunch of tests. It's all a bit complicated. Timezones are required to deal with DST boundaries, but repeating all day events must not have timezones (or RRULE checks fail). Also, python is fussy about comparisons between timezone naive and timezone aware datetime values. I'm still working on it, but it's not going smoothly.

[2020-03-13 11:13] ndw commented on #60
I don't think there's a way to get a projection for any given event, but if you iterate over the Monday's that you're interested in and ask "what events occur on this day", I think you can get the results.

[2020-04-21 19:14] ChrisAllen1982 opened #67 "Exception dictionary is not cleared between events"
icalparser.py :280

The exceptions dictionary isn't cleared before each VEVENT item, so that exceptions compound accross VEVENTS and so valid events are rejected because of exception from previously processed items.

Line 280 should be moved inside the loop on line 281

    for component in calendar.walk():

[2020-08-17 17:45] thegrandpoobah opened #69 "Exception is thrown: can't compare offset-naive and offset-aware datetimes"
Hello, I am trying to use the icalevents library to parse a iCal feed generated by Bamboo HR for our company time offs.

Here is the code that I am using:

[code]

This throws the following error:

[code]

Not sure if I'm doing something wrong, if the iCal is malformed for whatever reason, or if there is a bug in the library, but I've attached the calendar in question to start:

[holidays.ics.txt]

[2020-08-17 17:56] Hultner commented on #69
@thegrandpoobah What happens if you use `datetime`-objects instead of `date`-objects?

Changing your example code to
[code]

If that doesn't work do you think you could provide a full runnable example?

[2020-08-17 18:14] thegrandpoobah commented on #69
Hello, that doesn't work either. I will craft a working error case and create a repo for you.

[2020-08-19 14:01] thegrandpoobah commented on #69
Here is the reproducible test case: https://github.com/thegrandpoobah/icalevents69

[2020-08-19 14:02] thegrandpoobah commented on #69
Using Python 3.7.4 with icalevents 0.1.25 and icalendar 4.0.6

[2020-08-19 18:22] cancan101 commented on #47
This still seems to be an issue even on 0.1.25:
With this rule string:
[code]

[2020-08-19 18:35] cancan101 commented on #47
I ended up using:
[code]

[2020-08-25 19:49] kaitlynmcgoldrick commented on #69
@Hultner I made a PR for this issue, it's a quick fix so I'm open to feedback on the solution. PTAL, thank you!

[2020-09-03 06:39] MasaYan24 opened #71 "ValueError: RRULE UNTIL values must be specified in UTC when DTSTART is timezone-aware"
It might be the problem of google calendar or other ics handling applications.

I found an event that is repeatedly scheduled.
And I got an error when I load the calendar like `icalevents.icalevents.events(url=https://xx/x/xx.ics, start=start, end=end)` where start and end are datetime.datetime object:
`ValueError: RRULE UNTIL values must be specified in UTC when DTSTART is timezone-aware`

If I r

[2020-09-17 07:00] nelson-liu commented on #69
This also occurs with a recurring, all-day events. Things are coerced to naive timezones here https://github.com/irgangla/icalevents/blob/master/icalevents/icalparser.py#L304-L315 , but the `rule.between` here https://github.com/irgangla/icalevents/blob/master/icalevents/icalparser.py#L356 fails because after is time-zone naive, whereas the values in `rules._exdate` are not timezone naive.

[2020-10-08 07:58] Zachu commented on #71
Seems to be broken on the latest `0.1.25` release. I can reproduce it on that but I have it working on `0.1.24`

[2020-10-27 12:36] dkuschmierz opened #74 "Some events are missing if all_day event is within list"
Consider the following settings:
startdate: 01.12.2020 00:00:00
enddate: 31.12.2020 23:59:59

Events:
10.12.2020 18:00:00 EventA
22.12.2020 AllDay EventB
31.12.2020 17:00:00 EventC

While iterating through the calendar, the enddate-settings are reseted during the allday-event to 31.12.2020 00:00:00 and then EventC is missing in the list!

[2020-10-27 12:37] dkuschmierz commented on #74
This PR fixes the behavior:

https://github.com/irgangla/icalevents/pull/73

[2020-11-29 14:42] tonimelisma commented on #31
Hey @digitaltoast @devrosx did you find any documentation? Is there any way to use this library besides reading the source?

[2021-01-19 11:02] Hultner commented on #64
Implemented in #75, will be in next release. Closing.

[2021-01-19 11:02] #64 closed

[2021-01-19 11:03] Hultner commented on #65
Resolved in #72

[2021-01-19 11:03] #65 closed

[2021-01-26 07:35] Zachu commented on #54
Noticed this also with `FLE Standard Time`. I assume actually that the problem is in https://github.com/irgangla/icalevents/blob/89f3cf7155d3458a157acde9c9e8a3ea3fa3f68d/icalevents/icalparser.py#L279. I think the code assumes to always get a real timezone from `gettz()` but it returns `None` when it hits something it doesn't know of. So checking the `gettz` output should fix this.

[code]

[2021-02-28 07:21] daleiliu commented on #69
I have a similar issue when try this code against the attached google calendar generated ics file:
[code]
[test.ics.zip](https://github.com/irgangla/icalevents/files/6056365/test.ics.zip)

[2021-05-19 11:19] Hultner opened #81 "[Discussion] Transfer ownership of project to jazzband or similar?"
## Background
I was talking with Martin Eigenmann (@eigenmannmartin) in private.
He reached out to me since he's got some contributions he want to merge (#80). I've tried for a while to review and merge PRs but without any ability to cut new releases which are pushed to PyPi it started to feel a bit pointless after a while.

## Suggestion
Move ownership of the project to https://jazzband.co/ (or s

[2021-05-24 22:18] eigenmannmartin commented on #81
I am using this library for a project currently, and I am planning to keep using it for quite some time. If there is any chance I'd like to chime in and help to maintain icalevents.

I'd also suggest, because icalevents is quite useful for many use cases, that we make sure that if there are developments/improvements, that there is the ability to release new versions. Therefore, https://jazzband.co

[2021-05-30 21:21] GrandMoff100 commented on #31
Yeah, there isn't any documentation it seems... this is unfortunate. TIme to do some source reading I guess...

[2021-05-31 21:41] eigenmannmartin commented on #81
@irgangla Thomas is there anything I can support you with? :smiley:

[2021-06-25 20:40] timwoj commented on #69
I don't think the PR linked here is a complete fix unfortunately. I'm still running into the exception even after installing the latest commit via pip. The test file that @daleiliu linked above reproduces it still, doing nothing more than:

[code]

[2021-09-06 13:30] irgangla commented on #81
@eigenmannmartin @Hultner
Sorry for the very late reply, I have just too much work to take care of old private projects. Moving to https://jazzband.co/ sounds good. :)

[2021-09-06 13:40] irgangla commented on #81
@eigenmannmartin I also added you as contributor to this repo.

[2021-09-06 13:42] irgangla commented on #81
@eigenmannmartin @Hultner If the automation still works, publishing a new release in the repo will also push it to PyPi. Are you not able to publish a new release in the repo?
If not, please give me some release notes, then I can do it.

[2021-09-06 13:42] Hultner commented on #81
@irgangla That’s understandable and why I also think Jazzband is a good idea. @eigenmannmartin do you have any knowledge of how the transfer of ownership process would be initiated? I guess we need to talk with a representative from Jazzband.

[2021-09-06 13:44] irgangla commented on #81
I joined jazzboard and according to the homepage, their bot should invite me to the organization. Then I should be able to request a transfer by using the Github transfer feature.

[2021-09-06 13:45] Hultner commented on #81
Ah I see, I was no aware that the release process was automated. I can draft new releases. That's great :)

[2021-09-06 13:45] Hultner commented on #81
Cool, then it's already in motion :)

[2021-09-06 13:47] irgangla commented on #81
@Hultner I hope the automation is still working. See https://github.com/irgangla/icalevents/blob/master/.travis.yml
If not, please ping me, then I will try to fix it.

[2021-09-07 09:39] eigenmannmartin commented on #81
@irgangla @Hultner Let me know if there is anything I can assist you :-)

[2021-09-07 16:53] jazzband-bot opened #82 "Implement Jazzband guidelines for icalevents"
This issue tracks the implementation of the [Jazzband guidelines](https://jazzband.co/about/guidelines) for the project [icalevents](https://github.com/jazzband/icalevents)

It was initiated by @irgangla who was automatically assigned in addition to the [Jazzband roadies](https://jazzband.co/roadies).

See the [TODO list](#todos) below for the generally required tasks, but feel free to update it i

[2021-09-07 17:02] irgangla commented on #82
@eigenmannmartin  @Hultner Can one of you take care of moving the tests from Travis CI to Github Actions?

[2021-09-07 17:22] jezdez commented on #82
Please don't hesitate to take examples from other Jazzband projects to simplify the move.

[2021-09-07 17:33] eigenmannmartin commented on #82
I will do that this week :-)

[2021-09-07 17:40] irgangla commented on #82
@jezdez Is there a way to move Codecov to Jazzband?

[2021-09-07 17:41] Hultner commented on #82
Thanks, I can help with reviewing/second pair of eyes if you want :)

[2021-09-07 17:47] jezdez commented on #82
I think it should just work on the next CI run and posting coverage results to their API. IIRC they notice when a project is moved from one user/org to another.

[2021-09-07 17:55] irgangla commented on #82
@jezdez icalevents doesn't use readthedocs at the moment. Is this mandatory?

[2021-09-07 17:58] irgangla commented on #81
Repo transfer to jazzband started.
@eigenmannmartin  Please provide your PiPy username if I shall add you as maintainer there as well.

[2021-09-07 17:58] #81 closed

[2021-09-07 18:14] jezdez commented on #82
@irgangla Not mandatory but something else is, from https://jazzband.co/about/guidelines#documentation:

FWIW, it's best practice to use Read The Docs for hosting Sphinx documentation (compared to GitHub Pages which can be messy to maintain). It simplifies the project setup quite a bit and outsources documentation building to the well-known community project Read The Docs.

[2021-09-07 18:19] eigenmannmartin commented on #81
@irgangla sure :-)  => eigenmannmartin

[2021-09-07 21:00] irgangla commented on #82
Ok, I will take care. I already started a Sphinx docu in source folder, long ago.

[2021-09-08 13:14] Hultner commented on #82
@jezdez Thanks for all the help and guidance :)
It's appreciated!

[2021-09-08 20:49] irgangla commented on #82
@eigenmannmartin  @Hultner  If you provide your readthedocs account name to me, I will also add you as maintainer.
@jezdez I prepared a Sphinx doc and created the readthedocs project, but I haven't the rights anymore to add the webhook to the repo.Will the bot do this or can you do this?

[2021-09-08 20:51] irgangla commented on #82
@jezdez I don't have the necessary rights to give codecov access to the jazzband organization. Can you please help me to fix the codecov integration?

[2021-09-08 20:57] jezdez commented on #82
Done!

[2021-09-08 21:00] jezdez commented on #82
I think it should just work once you send coverage data to codecov, the link will be https://app.codecov.io/gh/jazzband/icalevents/

[2021-09-08 21:02] irgangla commented on #82
I tried to delete the old codecov project and set it up again, but the codecov app isn't able to access the jazzband repos with my Github integration.

Regarding closing and reopening the issue, time to go to bed for me.

[2021-09-09 05:46] Hultner commented on #82
It's "Hultner"

[2021-09-10 17:48] irgangla commented on #82
@eigenmannmartin  @Hultner  Does one of you want to act as project lead?
I don't use this library anymore, and also have no active Python projects since a while.

[2021-09-10 18:08] irgangla commented on #82
@jezdez Will/shall this also work for icalevents:

    - name: Upload packages to Jazzband
      if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
      uses: pypa/gh-action-pypi-publish@master
      with:
        user: jazzband
        password: ${{ secrets.JAZZBAND_RELEASE_KEY }}
        repository_url: https://jazzband.co/projects/django-formtools/upload

Since I haven't ac

[2021-09-10 18:10] irgangla commented on #82
@Hultner @eigenmannmartin Releasing a new version should trigger https://github.com/jazzband/icalevents/actions/workflows/python-publish.yml and upload the release to PyPi.
Pushes or merges should trigger https://github.com/jazzband/icalevents/actions/workflows/python-test.yml and run the tests.

[2021-10-01 09:06] Hultner commented on #82
I can volunteer as project lead unless someone else wants to. But can't promise any major changes, will mainly review PRs, merge fixes and cut new releases. And of course act as a sparring partner/mentor if someone wants to contribute and need help.

[2021-10-01 09:09] Hultner commented on #82
@eigenmannmartin Did you get started on moving things to GitHub Actions?

[2021-10-03 07:07] pro70 commented on #82
@Hultner +1

[2021-10-03 07:10] pro70 commented on #82
I prepared an action for automatic publishing changes: https://github.com/jazzband/icalevents/actions/workflows/python-publish.yml
If you create a new release (or push something to master, for test purpose), it should release a new version to pypi.

[2021-10-10 20:56] eigenmannmartin commented on #82
@pro70 @Hultner I am so sorry for the long delay! I got overrun with soo much work.
I will start work on this now :-)

Sorry again - I should at least had informed you :-)

[2021-10-10 22:34] Hultner commented on #82
No worries, we're all volunteers doing this in what little extra bandwidth we have available :)

[2021-10-17 16:33] eigenmannmartin commented on #82
@pro70 CI and linters and pre-commit.ci  is added. How does the release process work?

[2021-10-17 16:33] #12 closed

[2021-10-17 16:33] #45 closed

[2021-10-17 16:33] #54 closed

[2021-10-17 16:33] #56 closed

[2021-10-17 16:33] #71 closed

[2021-10-17 21:04] eigenmannmartin opened #85 "Add typing"
I am thinking about adding typing and mypy to this project. What is your take on this? @alex @pro70

[2021-10-18 05:47] Hultner commented on #85
Sounds like a great idea.

[2021-10-29 23:51] RickMeasham opened #89 "Recurring events off by 24 hours when time zone offset is less than start time of event"
Yes, really :D

My calendar source has two timezones: Australia/Sydney and Australia/Melbourne. These are both +11:00.

I have a recurring event that starts at 09:00 Australia/Sydney on Sundays:
[code]

Because there are two time zones in the calendar, the [`cal_tz` is set to UTC](https://github.com/jazzband/icalevents/blob/d3656afcae4ae7461f8a7687aed2c8af124e19e4/icalevents/icalparser.py#L326) an

[2021-10-30 00:07] RickMeasham commented on #89
For testing ..

[code]

[2021-10-30 00:31] RickMeasham commented on #89
Looking into the best option (using the event time zone), the main change is needed on [line 392](https://github.com/jazzband/icalevents/blob/d3656afcae4ae7461f8a7687aed2c8af124e19e4/icalevents/icalparser.py#L392). If we provide the event time zone to `parse_rrule` then we get back the correct time (but now in the event time zone rather than the calendar time zone).

Looking further down, we don't

[2021-10-30 06:28] eigenmannmartin commented on #89
Fair. Can you add a testcase that demonstrates your solution?
At this point it does not matter if other tests break :-)

[2021-10-30 12:02] RickMeasham commented on #89
@eigenmannmartin : I've added a test case and removed the 'draft' flag from the PR

[2021-11-04 02:56] s-c-p commented on #85
I am not a member of the group, can I make a PR implementing this? I am already working on it, might need until weekend.

[2021-11-05 18:01] Hultner commented on #85
Of course. We'll review it later.

[2021-11-08 15:24] amrishparmar opened #94 "New PyPI release?"
Hi, there appears to be a https://github.com/jazzband/icalevents/releases/tag/v0.1.26 release, however the version currently on PyPI is still the older 0.1.25 release.

Any chance we could get the new release published?

[2021-11-08 17:06] eigenmannmartin commented on #94
@amrishparmar I am waiting for getting access to the release pipeline :-)
I will publish asap after that.

[2022-01-11 08:27] CMurtagh-LGTM opened #100 "Pypi out of date"
The [pypi](https://pypi.org/project/icalevents/) version is still at 0.1.25

[2022-01-11 14:11] eigenmannmartin commented on #100
@CMurtagh-LGTM Once I get acces I will deploy new versions => https://github.com/jazzband/help/issues/252

[2022-01-11 22:44] chrko opened #101 "Error handling recurring events with timezones"
Following code snippet do not yield the expected result:

[code]

I would expect the currently active recurring event instance. This holds for all `start` values of the last hour of the recurring event.

Git bisect yields efb7fbe3b4a762564c31ff9949daf04cff49c43b as the first bad commit introduced in #80

[2022-02-11 01:01] webdeck opened #104 "Add encoding parameter to events, etc."
I have a calendar URL that is encoded in latin_1 (olympic events provided by ecal.com)

It would be great if the top level events() API allowed overriding the encoding of UTF-8.  Instead, I have to invoke ICalDownload directly so that I can specify the encoding.

[2022-02-12 09:00] mampfes opened #105 "Release 0.1.26 missing on pypi"
The latest release on pypi is 0.1.25. Are there plans to release 0.1.26 also on pypi?

I would really appreciate this.

Thanks!

[2022-02-22 03:31] funblaster22 opened #106 "parse_events is unordered?"
I was using the `parse_events()` function, and didn't realize until a bit of experimentation that the return value from this function is not chronologically ordered. Would it be possible to sort the array [before returning](https://github.com/jazzband/icalevents/blob/c368ad8ec4981f58754faba3ef2668cd176d1350/icalevents/icalparser.py#L440) like this: `.sort(key=lambda i: i.start)` or [be documented]

[2022-03-30 16:57] mbafford commented on #101
You're excluding the event by passing in a parse date range of 2022-01-11T07:00 - 2022-01-11T08:00, when the event is defined as repeating from 2021-11-29 - 2021-12-30.

Your code returns 0 events, which seems correct based on the calendar provided and the date range passed to `events`.

What date/time did you expect the single returned event to have?

[2022-04-04 10:11] chrko commented on #101
Repeating until `20221230T230000Z` -> 2022-12-30. So I expect the event with `DTSTART;TZID=Europe/Berlin:20220111T000000 | DTEND;TZID=Europe/Berlin:20220111T080000
` to be returned.

[2022-04-26 16:57] jroitgrund opened #111 "FileExistsError: [Errno 17] File exists: '.cache'"
version 0.1.25

[code]

I'm guessing that due to concurrent calls to `events` where they both try and create `.cache` at the exact same time, the check

[code]

in httplib2 races.

Fixing upstream: https://github.com/httplib2/httplib2/pull/224

[2022-05-24 23:08] jzohrab commented on #69
Still an issue, just installed via pip today.  Using datetime objects as suggested.

[2022-05-27 10:44] dmirecki commented on #69
Is there any workaround for this? Can I modify the ics file to make it work for recurring all-day events?

[2022-06-01 11:27] Herrner opened #112 "Recurring events and timezones branch"
Are the changes that have been made in the [recurring-events-and-timezones](https://github.com/jazzband/icalevents/tree/recurring-events-and-timezones) branch planned to make it into master anytime? I'm getting the (known and documented) errors when parsing Google calendars, and these disappear when using the changes from that fork (plus [one](https://github.com/Herrner/icalevents/pull/2) I added

[2022-06-30 01:00] jameselks commented on #31
As a non-developer it took me a while to get my head around it. Don't install with `pip` because the version is out of date. Clone this repository and add to your virtual environment using setup.py

Here's what I came up with:

[code]

[2022-06-30 10:57] GrandMoff100 commented on #31
Awesome! Thank you.

[2022-07-17 22:57] adamehirsch commented on #69
I've also just run into this bug and am trying to suss out how to work around it.

[2022-07-18 03:00] adamehirsch commented on #112
Seconded; these changes are working well for me.

[2022-09-16 20:25] #89 closed

[2022-09-18 19:33] #112 closed

[2022-09-18 19:43] elizaaverywilson commented on #106
Should be [fixed](https://github.com/jazzband/icalevents/commit/6e1895775c6b404a1901b65e5eae22cbfe469fbd)

[2022-09-18 19:43] #106 closed

[2022-09-19 22:05] #105 closed

[2022-09-30 22:42] cpina commented on #69
Just had this problem (with a vCalendar generated by korganizer with an event from 2003)

[2022-10-04 14:14] WilliamMayor opened #115 "Incorrect status of a single declined recurring event"
I have a weekly recurring event. I declined one of the weeks, but accepted all of the others.

When I fetch_events I'm getting that event back in the list. I updated to use the master version of icalevents, which looked like it gave me access to an `Event.status` attribute. But the attribute always says "CONFIRMED".

Happy to work on this myself and submit a PR if you think it's a good first issue

[2022-11-14 23:08] salimfadhley opened #117 "Parsing a non-empty google calendar gives an empty list"
[code]

prints an empty list, however the contents of the calendar does not appear to be empty:

[code]

In this case I would expect to see 2 calendar entries for this calendar, but none is returned.

[2022-11-15 12:31] salimfadhleyhtp commented on #117
I've put a demo of the problem here:
https://colab.research.google.com/drive/1o2rV-PO02P1oSMh-7xIa_7NTeoN5Uase?usp=sharing